<ion-view view-title="Cat-Log">
  <ion-content>
      <h2>Categories</h2>
      <a href="#/app/anchoring">
      <div class="card">
          <div class="item item-thumbnail-left item-text-wrap">
               <img src="img/anchoring.jpg" alt="Anchoring">
                <h2>Anchoring</h2>
                <p>All your anchoring needs right here in this category. Click now!</p>
          </div>
      </div>
    </a>
    <a href="#/app/boat_hardware">
      <div class="card">
          <div class="item item-thumbnail-left item-text-wrap">
               <img src="img/boathardware.jpg" alt="Boat Hardware">
                <h2>Boat Hardware</h2>
                <p>All your boat hardware needs right here in this category. Click now!</p>
          </div>
      </div>
    </a>
    <a href="#/app/boats_and_motors">
      <div class="card">
          <div class="item item-thumbnail-left item-text-wrap">
               <img src="img/boatsandmotors.jpg" alt="Boats &amp; Motors">
                <h2>Boats &amp; Motors</h2>
                <p>All your boat &amp; motor needs right here in this category. Click now!</p>
          </div>
      </div>
    </a>
    <a href="#/app/clothing">
      <div class="card">
          <div class="item item-thumbnail-left item-text-wrap">
               <img src="img/clothing.jpg" alt="Clothing">
                <h2>Clothing</h2>
                <p>All your clothing needs right here in this category. Click now!</p>
          </div>
      </div>
    </a>
    <a href="#/app/diving">
      <div class="card">
          <div class="item item-thumbnail-left item-text-wrap">
               <img src="img/divebuddy.jpg" alt="Diving">
                <h2>Dive Buddy</h2>
                <p>All your dive buddy needs right here in this category. Click now!</p>
          </div>
      </div>
    </a>
    <a href="#/app/electrical">
      <div class="card">
          <div class="item item-thumbnail-left item-text-wrap">
               <img src="img/electrical.jpg" alt="Electrical">
                <h2>Electrical</h2>
                <p>All your electrical needs right here in this category. Click now!</p>
          </div>
      </div>
    </a>
    <a href="#/app/electronic">
      <div class="card">
          <div class="item item-thumbnail-left item-text-wrap">
               <img src="img/electronics.jpg" alt="Electronic">
                <h2>Electronics</h2>
                <p>All your electronics right here in this category. Click now!</p>
          </div>
      </div>
    </a>
    <a href="#/app/fishing">
      <div class="card">
          <div class="item item-thumbnail-left item-text-wrap">
               <img src="img/fishing.jpg" alt="Fishing">
                <h2>Fishing</h2>
                <p>All your fishing needs right here in this category. Click now!</p>
          </div>
      </div>
    </a>
    <a href="#/app/guides">
      <div class="card">
          <div class="item item-thumbnail-left item-text-wrap">
               <img src="img/guideschartscompasses.jpg" alt="Guides, Charts, Compasses">
                <h2>Guides &amp; Charts</h2>
                <p>All your guide and chart needs right here in this category. Click now!</p>
          </div>
      </div>
    </a>
    <a href="#/app/interior">
      <div class="card">
          <div class="item item-thumbnail-left item-text-wrap">
               <img src="img/interior.jpg" alt="Interior">
                <h2>Interior</h2>
                <p>All your interior needs right here in this category. Click now!</p>
          </div>
      </div>
    </a>
    <a href="#/app/maintenance">
      <div class="card">
          <div class="item item-thumbnail-left item-text-wrap">
               <img src="img/maintenance.jpg" alt="Maintenance">
                <h2>Maintenance</h2>
                <p>All your maintenance needs right here in this category. Click now!</p>
          </div>
      </div>
    </a>
    <a href="#/app/plumbing">
      <div class="card">
          <div class="item item-thumbnail-left item-text-wrap">
               <img src="img/plumbing.jpg" alt="Plumbing">
                <h2>Plumbing</h2>
                <p>All your plumbing needs right here in this category. Click now!</p>
          </div>
      </div>
    </a>
    <a href="#/app/rigging">
      <div class="card">
          <div class="item item-thumbnail-left item-text-wrap">
               <img src="img/rigging.jpg" alt="Rigging">
                <h2>Rigging</h2>
                <p>All your rigging needs right here in this category. Click now!</p>
          </div>
      </div>
    </a>
  </ion-content>
</ion-view>
